*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #dadfe2
}

.game-title{
	color: #1185b1;
	font-family: cursive, sans-serif; 
	text-align: center;
	margin: 20px 0;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.button-center{
	display: flex;
	justify-content: center;
	grid-gap: 10px;
}

input{
	height: 30px;
	width: 115px;
	border: 2px solid black;
	border-radius: 10px;
	outline: none;
	padding: 15px;
	padding-left: 25px;
	margin: 30px;
	position: relative;
	font-size: 1.1em;

}

#player1info{
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="21">X-</text></svg>') no-repeat;
}

#player2info{
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="21">O-</text></svg>') no-repeat;
}

.players{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.result{
	display: none;
	height: 70px;
	align-items:  center;
	font-family: cursive, sans-serif;
	font-size: 1.3em;
	letter-spacing: 1px;
	font-weight: bolder;
	margin-bottom: 20px;
	color: white;
	background: #af6bd2;
	border-radius: 10px;
	padding: 10px; 
}


.gameboard{
	display: grid;
	height: 300px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	margin: auto;
	width: 400px;
	max-width: 90%;
	border: none;
}

.game-cell{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
	color: #565f8e;
}	

.game-cell:first-child,.game-cell:nth-child(2),.game-cell:nth-child(3){
	border-top: none;
}

.game-cell:nth-child(3n+1){
	border-left: none;
}

.game-cell:nth-child(3n+3){
	border-right: none;
}

.game-cell:last-child,.game-cell:nth-child(7),.game-cell:nth-child(8){
	border-bottom: none;
}

.game-cell:hover{
	cursor: pointer;
	background: #eee;
}

#replay-btn, #AI, #two-players, #AI-hard{
	border: 2px solid black;
	border-radius: 10px;
	margin: 20px 0;
	cursor: pointer;
	font-size: 1.1em;
	padding: 5px;
	background: #1185b1;
	outline: none;
	color: white;
	letter-spacing: 1px;
}

#replay-btn:hover, #AI:hover, #two-players:hover, #AI-hard:hover{
	background: white;
	color: #1185b1;
}

@media(max-width: 425px){
		.button-center{
		grid-gap: 5px;
	}
	#replay-btn, #AI, #two-players, #AI-hard{
		margin: 20px 0;
		font-size: 0.8rem;
	}
}

@media(max-width: 330px){

	input{
		width: 90px;
		font-size: 0.7rem;
	}
}